
header {
	margin: 50px;
}

#logo-image {
	width: 140px;
}

.display-inline-block {
	display: inline-block;
}

.menu li {
	    color: #626262;
    text-transform: uppercase;
    margin-right: 75px;
}

.menu {
	width: calc(100% - 144px);
    text-align: right;
}


.menu li:last-of-type {
   margin-right: 0px;
}

#logo-image, .menu {
	vertical-align: middle;
}

.menu a {
	color: inherit;
	text-decoration: none;
}

.menu li:hover {
	opacity: 0.5;
}

.banner img {
	width: 100%;
}

.banner {
	padding: 0 50px;
}

    

 h5 {text-transform: uppercase;
    font-size: x-small;
    margin-top: 98px;
    margin-bottom: 32px;
    margin-left: 150px;
    color: #c5bebb;
    margin-left: : 300px }

 p { font-size: large;
 	margin-left: 150px;
 	margin-right: 150px;
 	color: #626262; 


 }


 h1 { font-size: x-large;
 	margin-bottom: 37px;
 	margin-left: 150px;
 	margin-right: 150px;
 	color: #626262; 

 }

 footer {
 	background-color: #F0F0F0; 
 	height:97px;
 	text-align:center;
 	color:gray; 

 } 

 footer img {

 	width:20px;
 	margin-top:30px;
 	margin-left:20px;
 }

footer li {
	margin-left:100px;
	hover 

}

footer a {
	color:#626262;
}

